/* index.css */
/* ----------------------------------------모바일 레이아웃 시작 */
#wrap {
    min-width:320px;
    /* width: 440px; */
    /* 1. 전체레이아웃의 너비를 고정(px)이 아닌 가변형(%)으로 만들기 */
    /* 2. 화면너비가 너무 작아지면 레이아웃이 깨지므로 최소 여기까지만 작아져야한다는 뜻으로 모바일 최소 너비체크하고 CSS 최소너비 설정하기 */
    min-height: 956px; /* 피그마 최소높이제한(그 이상은 max-content(Hug)기본) */
    margin: var(--spacing-auto); 
    background-color: aqua;
    position: relative;
} 
/* ---------------------------------------------1행 제목+후원 */
#wrap .intro {
    background-image: url(../images/bg1.png);
    background-size: cover; /* 피그마 - 채우기 */
    position: relative; /* after에 들어간 absolute의 기준위치 */
    background-position: center top;
}
#wrap .intro::after { /* 이미지 위 깔리는 반투명 그라데이션용도 가상선택자 */
    background: var(--color-gradient-dark);
    content:''; display: block;
    width: 100%; height: 100%;
    position: absolute; left:0 ; top:0 ; z-index: 90;
}
#wrap .intro .container {
    height: 524px;
    /* 실제 내용태그들을 묶는 레이아웃태그에 크기 입력 권장 */
    position: relative; z-index: 100;
    text-align: center;
}
#wrap .intro .container * {
    color:var(--color-light)
}
#wrap .intro .container .logo {
    width: var(--icon-sm);
    position: absolute; left: 15px; top: 60px;
}
#wrap .intro .container .logo img {width: 100%;}
#wrap .intro .container .title {
    font-size: var(--m-font-size-lg);
    line-height :1.4; font-weight: var(--m-font-weight-base);
}
#wrap .intro .container .btn_g {
    display: flex; flex-flow: column nowrap;
    gap: 5px; position: absolute; bottom: 53px;
    justify-content: center; align-items: center;
}
#wrap .intro .container .btn_g * {}
#wrap .intro .container .btn_g a::after {}
#wrap .intro .container .btn_g .sponser_btn {}
#wrap .intro .container .btn_g .sponser_qna_btn {}
/* ------------------------------------------------2행 퀴즈 */
#wrap .quiz {
    background-image: url(../images/quiz_bg.png);
    padding: 20px 15px; 
    /* 반응형 큰 배경이미지 사용 시 권장 속성:값 */
    background-size: cover; /* 채우기 */
    background-position: center top;
}
#wrap .quiz .container {}
/* ------------------------------------------------2행 2-1 퀴즈 */
#wrap .quiz .container #quiz_frm {
    display: flex; flex-flow: column nowrap;
    gap: 10px;
    padding-bottom: 10px;
}
#wrap .quiz .container #quiz_frm * {color: #fff;}
#wrap .quiz .container #quiz_frm h2 {
    font-size: var(--m-font-size-md);
    font-weight: var(--m-font-weight-md);
}
#wrap .quiz .container #quiz_frm h3 {
    font-size: var(--m-font-size-base);
}
#wrap .quiz .container #quiz_frm .qiuz_group {gap: 10px;}
#wrap .quiz .container #quiz_frm .qiuz_group li {
    font-size: var(--m-font-size-base);
    font-weight: var(--m-font-weight-md);
}
#wrap .quiz .container #quiz_frm .qiuz_group li input[name=quiz_g] {display: none;}
/* =================================================input 체크상태에 따른 이미지 변경 */
#wrap .quiz .container #quiz_frm .qiuz_group li input[name=quiz_g]:checked + label {
    background-image: url(../images/qiuz_on.svg);
    background-repeat: no-repeat;
}
#wrap .quiz .container #quiz_frm .qiuz_group li label {
    background-image: url(../images/qiuz_off.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    display: block;
    background-size: 20px;
    line-height: 1.2;
}
#wrap .quiz .container p {}
#wrap .quiz .container p #quiz_btn {
    background-color: var(--color-dark-pri); 
    width:100%; border-radius: 50px;
    padding: 8px 0; 
    font-size: var(--m-font-size-base);
}
/* ------------------------------------------------2행 2-2 퀴즈 */
#wrap .quiz .container .quiz_status {}
#wrap .quiz .container .quiz_status .quiz_join {
    border-radius: 20px; border: 1px solid var(--color-primary);
    overflow: hidden; margin-bottom: 8px;
    text-align: center;
}
#wrap .quiz .container .quiz_status .quiz_join h3 {
    background-color: var(--color-primary);
    color: var(--color-light);
    font-size: var(--m-font-size-base);
    padding: 8px 0; font-weight: var(--m-font-weight-md);
}
#wrap .quiz .container .quiz_status .quiz_join p {
    font-size: var(--m-font-size-md);
    font-weight: var(--m-font-weight-md);
    padding: 40px 0; background-color: var(--color-light);
}
#wrap .quiz .container .quiz_status .quiz_join p em {
    font-weight: var(--m-font-weight-xl);
    color: var(--color-primary);
}
#wrap .quiz .container .quiz_status .update {
    text-align: end;
    color:var(--color-light);
    font-size: var(--m-font-size-sm);
}
/* -------------------------------------------팝업창 */
#wrap .quiz .answer_popup_bg {
    background-color: rgba(0,0,0,0.5);
    position:fixed; top:0; left: 0;
    width: 100%; height: 100%; z-index: 999;
    /* var.css의 flex layout class 중 골라서 태그에 적용하기 */
}
#wrap .quiz .answer_popup_bg .answer_box {
    background-color: var(--color-light); 
    width: 280px;height: 150px;
    position: relative; 
}
#wrap .quiz .answer_popup_bg .answer_box::after
#wrap .quiz .answer_popup_bg .answer_box #answer_close_btn {}
#wrap .quiz .answer_popup_bg .answer_box #answer_close_btn img {
    position: absolute; right: 10px; top: 10px;
}
#wrap .quiz .answer_popup_bg .answer_box h2 {
    font-size: var(t-font-size-base);
    font-weight: var(--m-font-weight-md);
}
#wrap .quiz .answer_popup_bg .answer_box p {
    font-size: var(--m-font-size-sm);
    text-align: center;
}
/* ------------------------------------------------3행 비디오 */
#wrap .video_bg {
    background-image: url(../images/video_bg.png);
    background-size: cover;
    background-position: center bottom;
    padding: 50px 0; 
}
#wrap .video_bg  .container {
    gap: 15px; text-align: center;
    padding: 60px 15px;
}
#wrap .video_bg  .container h1 {
    font-size: var(--m-font-size-md);
}
#wrap .video_bg  .container .video {
    width: 100%; 
    max-width: 1120px;
    /* 16:9 비율 조정 속성 */
    aspect-ratio: 16 / 9; /* 연산자 앞뒤에 반드시 여백주기 */
}
#wrap .video_bg  .container .video iframe {
    width: 100%; height: 100%; /* 부모 비율 상대적으로 따라가게 만들기 */
}
#wrap .video_bg  .container .sponser_btn {}
/* ------------------------------------------------4행 면적 */
#wrap .area {
    background-image: url(../images/50_bg.png);
    padding: 60px 15px;
}
#wrap .area .container {
    display: flex; flex-flow: column nowrap;
    gap: 15px;
}
#wrap .area .container * {
    color: var(--color-light);
    line-height: 1.2;
}
#wrap .area .container h3 {
    font-size: var(--m-font-size-md);
    font-weight: var(--m-font-size-md);
}
#wrap .area .container h3 span{
    display: block;
}
#wrap .area .container h3 em {
    background-color: var(--color-light);
    color: var(--color-dark-pri);
    font-weight: var(--m-font-weight-xl);
}
#wrap .area .container p {
    font-size: var(--m-font-size-sm);
}
#wrap .area .container p  {}
#wrap .area .container p img {width: 100%;}