/* var.css */
/* 글자옵션, 레이아웃크기 등 값 위주의 변수 */
:root {
    --color-primary:#6C9FFF;
    --color-dark:#111;
    --color-light:#fff;
    --color-gray:#ddd;
    --color-dark-pri:#294578;
    --color-gradient-dark:linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1));

    /* 글자크기 */
    --m-font-size-base:1rem; /* 내용 */
    --m-font-size-sm:0.875rem; /* 버튼 */
    --m-font-size-lg:1.875rem; /* 제목 */
    --m-font-size-md:1.25rem; /* 보조 */
    --t-font-size-base:1.25rem;
    --t-font-size-sm:1.25rem;
    --t-font-size-lg:2.5rem;
    --t-font-size-md:1.875rem;
    --d-font-size-base:1.375rem;
    --d-font-size-sm:1.875rem;
    --d-font-size-lg:3.75rem;
    --d-font-size-md:3.125rem;

    /* 글자굵기 */
    --m-font-weight-base:500;
    --m-font-weight-md:600;
    --m-font-weight-xl:800;

    /* 크기, 여백 */
    /* 모바일 */
    --spacing-m-l-r:15px;
    /* 태블릿 */
    --spacing-t-l-r:60px;
    /* 데스크탑 */
    --width-desktop:1120px;
    /* 공통 */
    --spacing-auto:0 auto;  
    --icon-xs:12px;
    --icon-sm:24px;
    --icon-md:48px;
    --icon-md:48px;
    --icon-lg:80px;
    --icon-xl:100px;
}/* e:root */

/* 공통 디자인 class */
.flex-row-center {
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
}
.flex-row-between {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
}
.flex-col-center {
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
.flex-col-between {
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
}
.flex-col{
    display: flex; flex-flow: column nowrap;
}