/* var.css */
/* 글자옵션, 레이아웃크기 등 값 위주의 변수 */
:root {
    --color-primary:#6C9FFF;
    --color-dark:#111;
    --color-light:#fff;
    --color-gray:ddd;
    --color-gradient-dark:linear-gradient(90deg, rgba(0,0,0,0) rgba(0,0,0,1));

    /* 글자크기 */
    --font-size-m-title:30px;

    /* 크기, 여백 */
    /* 모바일 */
    --spacing-m-l-r:15px;
    /* 태블릿 */
    --spacing-t-l-r:60px;
    /* 데스크탑 */
    --width-desktop:1120px;
    /* 공통 */
    --acing-auto:0 auto;  
    --icon-xs:12px;
    --icon-sm:24px;
    --icon-md:48px;
    --icon-md:48px;
    --icon-lg:80px;
    --icon-xl:100px;
}/* e:root */

/* 공통 디자인 class */
.flex-row-center {
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
}
.flex-row-between {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
}
.flex-col-center {
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
.flex-col-between {
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
}