/* var.css */
/* 글자옵션, 레이아웃크기 등 값 위주의 변수 */
:root {
    --color-primary:#6C9FFF;
    --color-dark:#111;
    --color-light:#fff;
    --color-gray:#ddd;
    --color-dark-pri:#294578;
    --color-gradient-dark:linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1));

    /* 글자크기 */
    --m-font-size-base:1rem; /* 내용 */
    --m-font-size-sm:0.875rem; /* 버튼 */
    --m-font-size-lg:1.875rem; /* 제목 */
    --m-font-size-md:1.25rem; /* 보조 */
    --t-font-size-base:1.25rem;
    --t-font-size-sm:1.25rem;
    --t-font-size-lg:2.5rem;
    --t-font-size-md:1.875rem;
    --d-font-size-base:1.375rem;
    --d-font-size-sm:1.875rem;
    --d-font-size-lg:3.75rem;
    --d-font-size-md:3.125rem;

    /* 글자굵기 */
    --m-font-weight-base:500;
    --m-font-weight-md:600;
    --m-font-weight-xl:800;

    /* 크기, 여백 */
    /* 모바일 */
    --spacing-m-l-r:15px;
    /* 태블릿 */
    --spacing-t-l-r:60px;
    /* 데스크탑 */
    --width-desktop:1120px;
    /* 공통 */
    --spacing-auto:0 auto;  
    --icon-xs:12px;
    --icon-sm:24px;
    --icon-md:48px;
    --icon-md:48px;
    --icon-lg:80px;
    --icon-xl:100px;
}/* e:root */

/* 공통 디자인 class */
.flex-row-center {
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
}
.flex-row-between {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
}
.flex-col-center {
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
.flex-col-between {
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
}
.flex-col{
    display: flex; flex-flow: column nowrap;
}
/* =======================공통 후원/질문버튼(모바일) */
/* 북극곰 후원하기 버튼 만들기 */
.sponser_btn, .sponser_qna_btn {
    display: flex; justify-content: center; align-items: center;
    font-size: var(--m-font-size-sm);
    background-color: var(--color-primary);
    border-radius: 50px;
    padding:5px 10px;
    gap: 5px; color: var(--color-light);
}
/* 북금곰 후원하기 버튼 화살표 만들기 */
.sponser_btn::after,
.sponser_qna_btn::after{
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    filter: invert(1);
    content: ''; display: block;
    width: 10px; height: 10px;
}
/* ------------------------------------공통후원/질문버튼(태블릿) */
@media screen and (min-width:760px){
    .sponser_btn, .sponser_qna_btn{
        font-size: var(--t-font-size-base);
        padding:0;
    }
    .sponser_btn::after,
    .sponser_qna_btn::after {
        width: 15px; height: 15px;
    }
    .sponser_btn{
        padding: 10px 30px;
    }
    .sponser_qna_btn {
        padding: 5px 15px;
        position: absolute; bottom: 60px; right: 67px;
    }
}/* e:min760 */
@media screen and (min-width:1120px){
    .sponser_btn, .sponser_qna_btn {
        font-size: var(--d-font-size-sm);
    }
    .sponser_btn::after,
    .sponser_qna_btn::after{
        width: 22px; height: 22px;
    }
    .sponser_btn{
        padding: 20px 40px;
    }
    .sponser_btn::after {width: 22px; height: 22px;}
    .sponser_qna_btn {
    padding: 10px 25px;
    position: absolute; bottom: 42px; right: 0px;
    }
}